
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!-- Scripts. -->
    <script src="~/Scripts/Home/index.js"></script>
</head>
<body>
    <div> 
        <input type="text" />
        <input type="text" />
    </div>
</body>
</html>
